# Enable URL rewriting
RewriteEngine On

# Set the base directory
RewriteBase /

# Don't apply rules to existing files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect all other requests to index.php
RewriteRule ^(.*)$ index.php [QSA,L]